.preview-canvas-wrapper .webgpu-video-preview {
  display: block;
  max-width: 100%;
  max-height: calc(100% - 42px);
  margin-bottom: 42px;
  aspect-ratio: auto;
  background: #000;
  pointer-events: none;
  transform-origin: center;
  will-change: transform;
}
